name: Playwright Tests
env:
  HEADLESS: true

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Set environment variables
      env:
        API_KEY: ${{ secrets.API_KEY }}        # Replace with your actual secret names
        API_URL: ${{ secrets.API_URL }}
        CASAOSPAGE: ${{ secrets.CASAOSPAGE }}
        USERNAME: ${{ secrets.USERNAME }}
        PASSWORD: ${{ secrets.PASSWORD }}
      run: |
        echo "Environment variables are set."
        # Any additional setup code can be added here

    - name: Install dependencies
      run: npm install

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run Playwright tests
      run: npx codeceptjs run

    - name: Upload Mochawesome Report
      uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: mochawesome-report
        path: output/mochawesome-report.json
        retention-days: 30